<div class="row align-items-center mb-1">
  <div class="col">
    <h1>Login</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-lg-4">
    <form action="/sessions" method="post">
      
      <div class="mb-3 mt-3">
        <label for="email_input" class="form-label">Email</label>
        <input type="text" name="email" id="email_input" class="form-control">
      </div>
      
      <div class="mb-3">
        <label for="password_input" class="form-label">Password</label>
        <input type="password" name="password" id="password_input" class="form-control">
      </div>

      <button class="btn btn-primary mt-4">Login</button>
    </form>
  </div>
</div>