<h1 class = "mt-4">Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  <a href="/places/new" class = "mt-4 shadow-sm border border-black btn btn-primary btn-small">New place</a>
</p>